.contact {
  height: 100vh;
  width: 100%;
}

.c-left {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  height: 270px;
  background-color: #251b37;
}

.c-leftInner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-top: 12px;
}

.c-title {
  font-size: 50px;
  color: white;
  font-family: sans-serif;
  font-weight: 700;
}

.c-subTitle {
  color: #6663e9;
  font-size: x-large;
  font-size: 50px;
  font-family: sans-serif;
  font-weight: 700;
}

.c-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subContainer {
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
}

.contact-left {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 15px;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 80px;
}

.c-p{
    display: flex;
    gap: 14px;
   
}

.c-social{
    display: flex;
    gap: 12px;
    justify-content: flex-start;
    align-items: center;
}
.contact-right{
    width: 100%;
}

.rightTitle{
color: rgb(13, 12, 12);
font-size: xx-large;
font-family: sans-serif;
font-weight: bold;
 padding: 15px 0px;
}

input{
    margin: 6px 0px;
  }
  .contactInput{
    font-size: 20px;
    width: 100%;
    height: 40px;
   
  }
  
  .contactInput::placeholder {
    background-color: #5654d1;
    padding: 20px 3px;
    
  }
  .textarea{
    width: 100%;
    height: 100%;
    resize: none;
    border: 2px solid #6663e9;
    margin: 10px 0px;
  }

  .c-cont-btn{
    background-color: #6663e9;
    border-radius: 14px;
    padding: 10px 13px;
    color: white;
  }
  .c-info{
    font-size: 30px;
  }

  @media screen and (max-width:800px){
    .subContainer{
      flex-wrap: wrap;
    }
    
.contact-left {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 15px;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 10px;
  padding-left: 0px;
}

.c-info{
  font-size: 20px;
}

.c-title, .c-subTitle{
  font-size: 30px;
}
  }
