.golden {
  height: 100vh;
  width: 100%;
}

.g-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 40px;
  height: 300px;
  background: #251b37;
  margin-bottom: 10px;
}

.gh-title {
  display: flex;
  gap: 14px;
  justify-content: center;
  align-items: center;
}

.g-home {
  font-size: 50px;
  color: #ffff;
  font-family: sans-serif;
  font-weight: bold;
}

.visa-title {
  font-size: 40px;
  font-family: sans-serif;
  font-weight: bold;
  color: #6663e9;
}

.fa-arrows-turn-right {
  color: #dbd1ee;
  text-align: center;
  padding-top: 10px;
  font-size: 1.2rem;
}

.g-info {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.g-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 70%;
  gap: 15px;
  padding: 0px 20px;
}
.golden-sub-title {
  margin: 3px auto;
}
.golden-title {
  justify-content: center;
  align-self: center;
}
.visaImg-div {
  max-width: 350px;
}

.golden-btn {
  background: #6663e9;
  border-radius: 15px;
  padding: 10px 10px;
  margin-bottom: 80px;
}

.g-link {
  color: aliceblue;
}

@media screen and (max-width: 769px) {
  .g-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 60px;
    height: 200px;
    background: #251b37;
  }
  .gh-title {
    display: flex;
    gap: 14px;
    justify-content: center;
    align-items: center;
  }

  .g-home {
    font-size: 30px;
    color: #ffff;
    font-family: sans-serif;
    font-weight: bold;
  }

  .visa-title {
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
  }
  .golden-title {
    justify-content: center;
    align-self: center;
    font-size: 15px;
    width: 100%;
  }
}
